#advanta-se {
}
.padd {
  background-color: $clr-blue-strong;
  background-color: $clr-blue-strong;
  padding: 73px 0;
}

.advanta {
  //   padding: 73px 0;
  text-align: center;
  &__title {
    @include TextStyle(
      $fw: 700,
      $fs: 40px,
      $ln: 100%,
      $ls: 0%,
      $clr: $clr-white
    );
    @media (max-width: 340px) {
      @include TextStyle(
        $fw: 700,
        $fs: 32px,
        $ln: 100%,
        $ls: 0%,
        $clr: $clr-white
      );
    }
  }
  &__list {
    @include Display($space: space-around);
    flex-wrap: wrap;

    gap: 25px;
    margin-top: 20px;
    &__content-wrap-1 {
      width: 261px;
      margin-top: 72px;
      &__title {
        @include TextStyle(
          $fw: 700,
          $fs: 24px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
        margin-bottom: 20px;
      }
      &__content {
        @include TextStyle(
          $fw: 400,
          $fs: 18px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
      }
    }
    &__content-wrap-2 {
      width: 375px;
      margin-top: 72px;
      &__title {
        @include TextStyle(
          $fw: 700,
          $fs: 24px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
        margin-bottom: 20px;
      }
      &__content {
        @include TextStyle(
          $fw: 400,
          $fs: 18px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
      }
    }
    &__content-wrap-3 {
      width: 288px;
      margin-top: 72px;
      &__title {
        @include TextStyle(
          $fw: 700,
          $fs: 24px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
        margin-bottom: 20px;
      }
      &__content {
        @include TextStyle(
          $fw: 400,
          $fs: 18px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
      }
    }
    &__content-wrap-4 {
      width: 354px;
      margin-top: 72px;
      &__title {
        @include TextStyle(
          $fw: 700,
          $fs: 24px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
        margin-bottom: 20px;
      }
      &__content {
        padding: 0 36px;
        @media (max-width: 350px) {
          padding: 0 10px;
        }
        @include TextStyle(
          $fw: 400,
          $fs: 18px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
      }
    }
    &__content-wrap-5 {
      width: 302px;
      margin-top: 72px;
      &__title {
        @include TextStyle(
          $fw: 700,
          $fs: 24px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
        margin-bottom: 20px;
      }
      &__content {
        @include TextStyle(
          $fw: 400,
          $fs: 18px,
          $ln: 100%,
          $ls: 0%,
          $clr: $clr-white
        );
      }
    }
  }
}
